.header_container {
    width: 100vw;

    position: fixed;
    top: 0;
    height: 80px;
    place-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
   

}

.headline {
    margin-left: 15px;
    font-family: "BioRhymeExpanded";
    transform: scaleY(2);
    font-size: 1.25rem;
    filter: drop-shadow(7px 7px 3px grey)
}

.earth {
    color: #228b22;
    -webkit-text-stroke: 1px navy;

}

.earthgif {
    width: 2.5rem;
    height: 1.25rem;

}

.quizz {
    color: #87ceeb;
    -webkit-text-stroke: 1px #228b22;
}

.subheadline {
    font-family: "NotoSans";
    font-size: 1rem;
    color: black;


}

.header_contacts {

    align-self: flex-end;

}