.side_panel {
    
    font-family: "Jost";
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.25);
   
    width: 80vw;
    max-width: 600px;
    height: 400px;
    justify-self: center;
    align-self: center;
    
   
}

.mobile_panel {
    margin-top: 100px;
    font-family: "Jost";
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.25);
    min-width: 320px;
    max-width: 500px;
    height: 500px;
    position: fixed;
    top: 15%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4;
  /*   transform: translate(-50%, -50%); */
}

.options_text {
    padding: 2rem;
    font-size: 1.4rem;
    text-align:justify;
}

.options_display {
    padding: 2rem;
    font-size: 2rem;
    place-self: center;
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.options_input {
    width: 150px;
    height: 30px;
    padding: 10px;
    font-family: "NotoSans";
    font-size: 1.5rem;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.45);
    
}

.options_button {
    width: 100px;
    height: 54px;
    font-size: 1rem;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.45);
    font-family: "NotoSans";
    color: black;
}
